{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Corona Virus</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- Bootstrap core CSS -->
  <link href="{% static  'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/heroic-features.css' %}" rel="stylesheet">

</head>

<style>
  section {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
  }
</style>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="margin-bottom: 0;">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Home Page</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://google.com/covid19-map/?hl=en">Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'option' %}">Search for Tweets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 's_option' %}">Tweets Analysis</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4" style="text-align: center; margin-top: 0;">
    <h1 class="display-3">A Warm Welcome!</h1>
    <p class="lead">Find out about Twitter Corona Virus tweets and their analysis</p>
    <a href="#" class="btn btn-primary btn-lg">Explore more description</a>
  </header>
  <div class="container" style="text-align: center">
    <!-- Page Features -->
    <section>
      <div class="row">
        <div class="col">
          <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/a/a5/World_Population.svg"
            alt="100%x180" style="height : 100%; border-radius: 50%">
        </div>
        <div class="col">
          <div class="card h-300" style="height: 100%">
            <div class="card-header" style="padding: 2%;">
              <h3 class="card-title">Get the map</h3>
            </div>
            <div class="card-body">
              <div class="card-body align-items-center d-flex justify-content-center">
                <p style="font-size: large;">
                  Find out about the current scenario in the different countries displayed on a map.
                </p>
              </div>
            </div>
            <div class="card-footer">
              <a href="https://google.com/covid19-map/?hl=en" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr>

    <section>
      <div class="row">
        <div class="col">
          <br />
          <br />
          <br />
          <img src="https://media.sproutsocial.com/uploads/2018/04/Twitter-Analytics-Tools.png"
            style="max-width: 100%; border-radius: 40%;" ;>
        </div>
        <div class="col">
          <div class="card h-300" style="height: 100%">
            <div class="card-header" style="padding: 2%;">
              <h3 class="card-title">Sentimental Tweet Analysis</h3>
            </div>
            <div class="card-body" style="padding-top:5%;padding-bottom: 0; font-size: large">
              Get the sentiment based on the following options :
            </div>
            <div class="card-body" style="padding-top:0%">
              <div class="col">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="{% url 'sentiment_p_n' %}">Keyword</a></li>
                  <li class="list-group-item"><a href="{% url 'tweet_p_n' %}">Tweets general </a></li>
                  <li class="list-group-item"><a href="{% url 'tweets_us' %}" style="text-align: center;">Location</a>
                  </li>
                  <li class="list-group-item"><a href="{% url 'static_sent' %}" style="text-align: center; ">Static
                      Search</a></li>
                  <li class="list-group-item"><a href="{% url 'dynamic_sent' %}" style="text-align: center; ">Dynamic
                      Search</a></li>
                  <li class="list-group-item"> <a href="{% url 'sentiment_p_n' %}"
                      style="text-align: center;">Dashboard</a></li>
                </ul>
              </div>
            </div>
            <div class="card-footer">
              <a href="{% url 's_option'  %}" class="btn btn-primary">Get Detail explanation on the options</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr>

    <section>
      <div class="row">
        <div class="col" style="width : 10%">
          <img src="https://media.sproutsocial.com/uploads/2015/11/search-twitter-history.svg"
            style="max-width: 100%; border-radius: 40%;" ;>
        </div>
        <div class="col">
          <div class="card h-300" style="height: 100%">
            <div class="card-header" style="padding: 2%;">
              <h3 class="card-title">Search for Tweets</h3>
            </div>
            <div class="card-body" style="padding-top:5%;padding-bottom: 0; font-size: large" >
              Search through static database or get the real time results
            </div>
            <br/>
            <div class="card-body" style="padding-top:0%">
              <div class="row">
                <div class="col">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="{% url 'search' %}">Just the text in the tweet</a></li>
                    <li class="list-group-item"><a href="{% url 'custom_s' %}">Filter the tweets based on location </a>
                    </li>
                    </li>
                  </ul>
                </div>
                <div class="col">
                  <br />
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="{% url 'dynamic_search' %}"
                        style="text-align: center; ">Dynamic
                        Search</a></li>
                  </ul>
                </div>
              </div>

            </div>
            <div class="card-footer">
              <a href="{% url 'option' %}"" class=" btn btn-primary">Get the options</a>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Made by Soham, Ahkshara, Mohit</p>
    </div>
    <!-- /.container -->
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script src='{% static "vendor/jquery/jquery.min.js" %}' rel="stylesheet"></script>
  <script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}' rel="stylesheet"></script>

</body>

</html>