{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>Corona Virus</title>
  
    <!-- Bootstrap core CSS -->
    <link href="{% static  'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  
    <!-- Custom styles for this template -->
    <link href="{% static 'css/heroic-features.css' %}" rel="stylesheet">
    
    <style>
        .header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    }
    
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">Home Page</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://google.com/covid19-map/?hl=en">Table</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'search' %}" >Search for Tweets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 's_option' %}">Tweets Analysis</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class = header> 
        <h1>Results</h1> 
        <p>The top 20 result for the query</p>
    </div>
    <div class="row mb-5">
      <div class="col-lg-8 mx-auto">
        <br/>
        <br/>
        <br />
        <div class="bg-white p-5 rounded shadow">  
          <!-- Custom rounded search bars with input group -->
          <form action = "{% url 'results' %}" method = 'get' >          
            <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
              <div class="input-group">
                <input id = "search" name = "search" type="text" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                <div class="input-group-append">
                <button id="button-addon1"  type="submit" class="btn btn-link text-primary"><i class="fa fa-search">Search</i></button>               
                </div>
              </div>
            </div>
          </form>
        </div>
        <br/>
        <div class="bg-white p-5 rounded shadow">  
          <h3 class="display-6" style = " text-align: center;">Rerank the query based on another query</h3>
          <br/>
          <!-- End -->
          <form action = "{% url 'rerank' %}" method = 'get' >          
            <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">           
              <div class="input-group">
                <input id = "search" name = "search" type="text" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
              </div>
            </div>
            <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
              <input id = "search_param" name = "search_param" type="text" placeholder="Enter the rerank query.For example: smile"  aria-describedby="button-addon1" class="form-control border-0 bg-light">
              <div class="input-group-append">                          
              </div>
            </div>
            </div> 
            <br />
            <button id="button-addon1"  type="submit" class="btn btn-link text-primary"><i class="fa fa-search">Search</i></button>  
          </form>
   
        </div>
      </div>
  </div>
    <br />


    {% for result in data %}

    <div class="text-center">
      <div class="card-header">
        <b>Tweets   </b>&emsp;&emsp;
      </div>
      <div class="card-body" style ="font-family: Courier New Lucida Console;background: #edebeb;" >
        <b>Date:     </b>{{result.date.0}}&emsp;&emsp;<br />
        <b>Keyword:  </b>{{result.keyword.0}}&emsp;&emsp;<br />
        <b>Tweet:   </b>{{result.tweet.0}}&emsp;&emsp;<br />
        <b>Likes:   </b>{{result.likes.0}}&emsp;&emsp;<br />
      </div>         
    </div>
    <br/>    
    {% endfor %}    
</body>
<footer class="py-5 bg-dark">
  <div class="container">      
    <p class="m-0 text-center text-white">Made by Soham, Ahkshara, Mohit</p>
  </div>
  <!-- /.container -->
</footer>
</html>